group:externalID,uri
weld_asset_root,/All Asset Categories/<%= @config[:name] -%> Categories/Welded Assets
weld_zone_root,/All Asset Categories/<%= @config[:name] -%> Categories/Welded Zones
weld_zone_root,/All Asset Categories/Site Asset Categories/Address Spaces/Protected